.container {
  position: relative;
  display: flex;
  justify-content: center;
}

.h2{
  position: relative;
  top: 12px;
  left: 18px;
  text-align: left;
  margin: 0;
  color: black;
  font-size: 30px;
  font-family: 'Inter';
  font-weight: 400;
  text-transform: capitalize;
  word-wrap: break-word;
}

.reservation-info {
  display:flex;
  align-items:center;
  margin-bottom:10px;
}

.reservation-info h4{
  position: relative;
  top: 10px;
  left: 20px;
  color: black;
  font-size: 24px;
  font-family: 'Inter';
  font-weight: 400;
  text-transform: capitalize;
  word-wrap: break-word;
  margin-right:50px;
}

.reservation-info input {
  position: relative;
  left: 10px;
  top: 10px;
  margin-right:200px;
}

.mark {
  position: absolute;
  top: -20px;
  width: 1px;
  height: 40px;
  opacity: 0;
  text-align: center;

  color: black;
  font-size: 24px;
  font-family: 'Inter';
  font-weight: 400;
  text-transform: capitalize;
}

.mark::after {
  content:''; 
  display:block;
}

.modal p {
  margin-top:10px;
}

.button{
  position: relative;
  left: 828px;
  top: 576px;
}